/**************************
common css and reset code  
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
.hr-style{
    width: 60px;
    margin: 0 auto;
    border: 2px solid tomato;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.section-title{
    font-size: 1.8rem;
    line-height: 1.6;
    padding-top: 80px;
    text-align: center;

}
span{
    color: tomato;
    font-weight: bold;
}
/**************************
nav bar  
**************************/
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-bar{
    background-color: white;
    background-image: linear-gradient(to left,rgba(255, 121, 121, 0.5),rgba(255, 159, 159, 0.267),rgba(255, 127, 127, 0.527));
    
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
}
#logo{
    text-decoration: none;
   color: #333;
    font-weight: bolder;
    font-size: 1.5rem;
}

#menu-icon{
    font-size: 2rem;
    color: #333;
    display: none;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    transition: .5s;
}
nav ul li a:hover{
    color: tomato;
}

/**************************
hero section 
**************************/

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 0 30px;
}
.row div{
   flex-basis: 50%;
   padding: 10px;
}
.row #feature-text{
    font-size: 2.5rem;
    color: #333;
}
.row #feature-img{
   margin: 0 0 0 auto;
   display: block;
  
    width: 350px;
    padding: 10px;
    border-radius: 50%;
    border: 8px solid salmon;
}

.btn{
    text-decoration: none;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .5s;
    font-size: 1.2rem;
    margin-top: 10px;
    display: inline-block;
}
.btn:hover{
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: white;
    
    
}

/**************************
about section 
**************************/
#about-section{
    background-color: #ccc;
}

#About-text p{
   line-height: 1.5;
   color: #333;
}
.about-img{
     transition: .5s;
     max-width: 350px;
     border: 2px solid black;
     padding: 10px;
}
/**************************
skill section 
**************************/

#skill-section{
    background-color: white;
    min-height: 90vh;
   
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 0 30px;
    
}
.skill-card{
    background-color: rgb(197, 49, 23);
    height: auto;
    width: 130px;
    margin: 10px;
    border-radius: 10px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;

}
.skill-card:hover{
    background-color: #333;
   box-shadow: 2px 2px 5px gray;
   transform: scale(1.2);
   color: white;
}
.skill-card h3{
    color: white;
    text-align: center;
}

.card-icon{
    color: white;
    font-size: 5rem;

}

/**************************
service section 
**************************/

#service-section{
    background-color: #ccc;
    min-height: 80vh;
    
}
.service-container{
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
    
    
}
.service{
    width: 250px;
    
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    transition: .5s;

}
.service:hover{
    transform: scale(1.1);

    box-shadow: 2px 2px 5px gray;
}
.service h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.service-icon{
    font-size: 50px;
    padding:  15px 20px;
    color: tomato;
}
/**************************
contact me section 
**************************/

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
#contact-form{
    box-shadow: 2px 2px 3px gray, -1px -1px 2px gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    color: white;
    font-size: 0.8rem;
    margin: 10px;
}
#contact-form input,textarea:focus{
    outline: none;
    
}

textarea{
    resize: none;
}
.form-control{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}
.form-control label{
    flex: 0.3;
    font-weight: bold;
}
.form-control input, textarea{
    flex: 0.7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
.form-btn{
    background-color: tomato;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    width: 100px;
    border-radius: 10px;
    padding: 5px 5px;
    transition: .5s;
    display: block;
    margin-left:  auto;
    cursor: pointer;
    
}
.form-btn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px gray;
}

/**************************
footer section 
**************************/
footer{
    background-color: black;
   padding: 30px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
footer div{
    width: 50%;
    text-align: center;
}
footer p{
    color: white;
}
.fa-heart{
    color: red;
    font-size: 1.5rem;

}
.social-icon-container{
    margin: 10px 0;
}
.social-icon{
    color: black;
    background-color: white;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    margin: 0  10px;
    cursor: pointer;
    transition: .5s;
}
.social-icon:hover{
    background-color: tomato;
    transform: scale(1.2);
}

/**************************
media query
**************************/

@media screen and (max-width:700px) {
    
    #hero-section{
        padding-top: 20px;
    }
    /**************************
    navbar
    **************************/
    .nav-bar{
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        display: block;
    
    }
    nav ul li a{
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    .hidden{
        display: none;
    }
    #menu-icon{
        display: block;
    }

    
    .row{

        flex-direction: column;
       
        text-align: center;
        
        
    }
    .row div{
        margin: 5% 0;
        flex-basis: 100%;
    } 
    .row #feature-text{
        font-size: 1.8rem;
        
    }
    .row #feature-img{
        
         width: 300px;
         
     }
    
    #about-img-container{
        order: 2;
    }
    footer{
        flex-direction: column;
    }
    footer div{
        width: 100%;
    }
    
    
}